


.card {
  flex-direction: column;
  display: flex;
  width: $card-width;
  height: 408px;
  border: $card-border;
  border-radius: $card-radius;
  background-color: #fff;

  &__image {
    height: 134px;
    margin: 32px 19px 40px;
  }

  &__title {
    color: $color-main;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    margin: 0 16px 4px;
  }

  &__code {
    color: #616070;
    font-size: 10px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;

    margin: 0 84px 16px 16px;
  }

  &__stars {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
  }

  &__priceBox {
    justify-content: space-between;
    display: flex;
    line-height: 18px;

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;

    &-label {
      color: #616070;
      font-size: 12px;
      font-weight: 400;
    }
    &-price {
      color: $color-main;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    background-color: #00acdc;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: $card-radius;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;

    &:hover {
      background-color: #fff;
      color: #00acdc;
      border: 1px solid #00acdc;
    }
  }
}
