@import './variables';
@import './card';
@import './stars';
@import './header';


html {
  box-sizing: border-box;
}


body {
  font-family: $font-main;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin: 0;
}
